.slide1 {
	background-image: url("../images/city1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100vh;
}

.slide2 {
	background-image: url("../images/city2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100vh;
}

.slide3 {
	background-image: url("../images/city3.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100vh;
}

.slide4 {
	background-image: url("../images/city4.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100vh;
}

.slide5 {
	background-image: url("../images/city5.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100vh;
}

.maps {
	padding-top: 50px;
	padding-bottom: 50px;
}

.map-cont {
	text-align: center;
	font-size: 22px;
	margin-left: 30px;
}

#desc {
	font-size: 25px;
	text-align: center;
}

#route {
	color: rgb(39, 124, 132);
}

.jumbotron {
	margin-bottom: 0px;
	text-align: center;
}

.konten {
	background-color: #66B3BA;
	color: white;
	font-family: 'Chewy';
	padding-top: 50px;
}

.chooseus {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 80px;
}

.judulkonten {
	text-align: center;
	font-size: 70px;
}

.isikonten {
	font-size: 30px;
}

body {
	font-family: 'Chewy';
}

footer {
	background-color: #353535;
	color: white;
	padding: 25px;
	font-size: 22px;
}

#brand {
	font-size: 30px;
}

nav {
	font-size: 20px;
}

.juduljumbo {
	margin-top: 0px;
	padding-top: 150px;
	padding-left: 250px;
	font-size: 60px;
	color: white;
}

.kontenjumbo {
	padding-left: 250px;
	padding-right: 300px;
	color: white;
	font-size: 40px;
}

#title {
	text-align: center;
	padding-top: 70px;
	font-size: 60px;
	color: #277C84;
}

.main {
	padding-top: 30px;
	text-align: center;
	font-size: 20px;
}

th {
	text-align: center;
	font-size: 25px;
	font-weight: lighter;
	color: white;
	background-color: #277C84;
}

table {
	background-color: #CDEEF1;
	color: #3F9098;
	border: 5px solid #277C84;
}

/*Reference: http://html-tuts.com/back-to-top-button-jquery/*/
a.back-to-top {
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #277C84 url("../images/arrowup.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/*the following code was taken from https://www.bootstrapzero.com/bootstrap-template/sectionalize*/
.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#66B3BA;
    color:#fff;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#75aaff;
}

.navbar-trans a{
    color:#fefefe;
}

.navbar-trans .form-control:focus {
	border-color: #4286f4;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

.v-center {
    padding-top:10%;
    font-size:70px;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
/*end of reference*/

/*Reference: w3school*/
.slideanim {visibility:hidden;}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
	  opacity: 0;
	  transform: translateY(70%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(70%);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0%);
	}
}